<section class="hello-wedding">
  <div class="container-fluid">
    <div class="row">
      <div class="hello-photo">
        <div class="hello-content">
          <div class="hello-circle">  
            <p class="hello-text text-center">It's time to celebrate!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
